body{
    background-color: gold;
}
.carousel > .carousel-inner > .carousel-item > img{
    width:1000px; /* Yeap you can change the width and height*/
    height:600px;
}
h1{
    text-align: center;
}
.háttér{
    background-color: lightskyblue;
}
strong{
    color: red;
}